@charset "utf-8";
/* Mailing */
.mailingInfo{ position:relative; margin:1em 0; text-align:right; font-size:12px;}
.mailingInfo .mBtn,
.mailingInfo .mBtn button{ position:relative; z-index:2; display:inline-block; vertical-align:top; height:20px; margin:0; padding:0; overflow:visible; border:0; background:url(../img/mailingBtn.gif) no-repeat; cursor:pointer;}
.mailingInfo .mBtn button{ padding:0 5px 0 25px; color:#666; line-height:20px; _line-height:normal;}
.mailingInfo .mBtn.optIn{ background-position:left top;}
.mailingInfo .mBtn.optIn button{ background-position:right top;}
.mailingInfo .mBtn.optOut{ background-position:left -20px;}
.mailingInfo .mBtn.optOut button{ background-position:right -20px;}
.mailingInfo .desc{ position:relative; top:-20px; z-index:1; border:1px solid #ccc; line-height:1.4; padding:25px 2em 15px 2em; margin:0 0 -20px 0; color:#767676; background:#fcfcfc; box-shadow:0 0 2px #bbb; -moz-box-shadow:0 0 2px #bbb; -webkit-box-shadow:0 0 2px #bbb; *zoom:1;}
.mailingInfo .desc{	border-top-left-radius:15px; border-bottom-right-radius:15px; -moz-border-radius-topleft:15px; -moz-border-radius-bottomright:15px;	-webkit-border-top-left-radius:15px; -webkit-border-bottom-right-radius:15px;}
.mailingInfo .desc .hx{ display:block; font-size:14px; color:#333;}
.mailingInfo .desc p{ *zoom:1;}
.mailingInfo .desc p strong{ color:#333;}
.mailingInfo .desc .submit,
.mailingInfo .desc .close{ font-size:12px; cursor:pointer;}